/**
 *  This file contains the definitions for global styling properties related to
 *  colors.
 */
:root
{
  --purple: #642CA9;
  --purple-light: #B38DE2;
  --white: #F0F2EF;
  --red: #E03616;
  --orange: #FA7921;
  --green: #47A025;
  --yellow: #E3CD29;
}